@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
   line-height: 1.5;
   font-size: 16px; 
}

li {
    list-style-type: none; /* entfernt die "punkte" die sonst am 
                              Anfang jedes Listenpunkts stehen */
}

.flex {
    disqaplay: flex;              /* makes the "childs" from flex 1 unten
                                  auch entire height*/
}

.flex-1 {                       /* makes the whole container entire height */
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* centering */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;          /* 0 = top button kein abstand, 12px rechts und links*/
    color: #242424;
    text-decoration: none;  /* text decoration one, removes the underline*/
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;    /* für den hover, damit er nicht instant ist*/
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold; 
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;                /* makes it entire height of the page*/
    display: flex;
    flex-direction: column;
}

.about-me__info {
display: flex;
flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture {
    width: 100%;
    /*improving picture*/
    transform: scale(1.1);    /*zooming in 10% */
    padding-right: 4px;       /* verschiebt das bild von rechts nach links */
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;         /* in dem fall passiert sonst nichts bei border radius*/
    box-shadow: 0 8px 16px rgba( 0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-me__info--title {
    margin-bottom: 16px;
}

.about-me__link {
    font-size: 20px;
    text-decoration: none;
    color: #242424;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-me__img {
    width: 100%;
}

/* TECH-STACK */

.language {
    width: 25%;
}

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language__img:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

.language__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.language__name {          /* sorgt dafür, dass der span tag mit*/
    position: absolute;    /* der language bezeichnung unter dem logo */
}                          /* zn. HTML nicht innherhalb des parents, also */
                           /* im Logo selbst ist, sonder außerhalb*/

/* diese sachen , kommen eigentlich in die gleichnamigen css oberhalb
aber für ein besseres verständnis der reihenfolge habe ich sie sozusagen
doppelt drunter gemacht*/

.language {
    display: flex;             /* ordnet das ganze mittig*/
    justify-content: center;   /*   das auch  */
    position: relative;        /* ist wichtig, damit das folgende */
}                              /* bottom: 0 unterhalb des icons ist */

.language__name {
    bottom: 0;                 /* macht den html text unterhalb des icons  */
}                   